.wrapper {
   padding-top: 50px;
}

.period {
   width: 500px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 50px;
   transition: all 0.5s;
}

/* .period:hover {
   width: 70%;
   transition: all 0.5s;
} */

/* .period::before {
   content: '';
   opacity: 0;
   pointer-events: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transition: 0.5s;
   z-index: -1;
}

.period:hover.period::before {
   opacity: 1;
   transition: 0.5s;
} */

.accounting-sheet {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.accounting-sheet .date {
   text-align: center;
   padding: 5px;
   border-radius: 5px;
   background-color: rgba(107, 183, 204, 1);
}

.financial-operations {
   display: flex;
   gap: 10px;
}

/* Credit */
.credit {
   flex: 1 1 50%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.credit .credit-item {
   padding: 5px;
   border-radius: 5px;
   background-color: rgba(0, 175, 88, 0.75);
   height: 30px;
   display: flex;
   align-items: center;
}

/* Debit */
.debit {
   flex: 1 1 50%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.debit .debit-item {
   padding: 5px;
   border-radius: 5px;
   background-color: rgba(175, 26, 0, 0.75);
   height: 30px;
   display: flex;
   align-items: center;
}

/* Common */
.financial-operations .financial-operations-input {
   width: 100%;
   background-color: transparent;
   color: #fff;
}
.financial-operations .financial-operations-input::placeholder {
   color: rgba(255, 255, 255, 0.5);
}
.financial-operations .financial-operations-empty {
   border: 2px dotted #ffffff3f;
   background-color: transparent;
   justify-content: center;
   cursor: pointer;
}

.summary {
   text-align: right;
   padding: 5px;
   border-radius: 5px;
   background-color: #ffffff3f;
}

.summary-item {
   display: flex;
   justify-content: space-between;
}

.summary-item:not(:last-child) {
   margin-bottom: 10px;
}
